@font-face{
    src: url(../fonts/GothamHTF-Bold.otf);
    font-family: Gotham-HTF;
  }
  @font-face{
    src: url(../fonts/GothamHTF-Light.otf);
    font-family: Gotham-light;
  }
  @font-face{
    src: url(../fonts/GothamHTF-Medium.otf);
    font-family: Gotham-medium;
  }
  @font-face{
    src: url(../fonts/GothamHTF-LightItalic.otf);
    font-family: Gotham-lightitalic;
  }
  @font-face{
    src: url(../fonts/GothamHTF-Book.otf);
    font-family: Gotham-Normal;
  }
  :root {
    --textColor: #FFFFFF;
    --backgroundColor: #000000;
    --fontColor:#FFFFFF;
    --secondColor:#61D836;
    --fontStyle1: Gotham-HTF;
    --fontStyle2: Gotham-light;
    --fontStyle3: Gotham-medium;
    --fontStyle4: Gotham-lightitalic;
    --fontStyle5: Gotham-Normal;
    --fontHead: 80px;
    --fontSize1:40px;
    --fontSize2:24px;
    --fontBold:700;
    --fontMedium:400;
    --fontNormal:300;
  }
  body{
    background: var( --backgroundColor);
    color: var( --textColor);
  }
  .roro-container{
    width: 1200px;
    margin: 0 auto;
  }
  a{
      text-decoration: none;
      color: var( --textColor);
  }
  a:hover{
    text-decoration: none;
    color: var( --textColor);
}
  p{
      font-family: var( --fontStyle2);
      font-weight: var( --fontNormal);
      color: var( --fontColor);
      margin-bottom: 0px;
  }
 
  .roro-header{
      height: 77px;
      /* z-index: 9999;
      background: #000000; */
  }
  .roro-logo{
      width: 141px;
      height: 30px;
  }
  .nav-link{
    color: var( --fontColor)!important;
    padding: 1rem 0rem 1rem 4rem;
    font-size: 14px;
    font-family: var( --fontStyle5);
    font-weight: 400;
  }
  /*-- ====== Main Section ====== --*/
 .landing-page{
   height: 100vh;
   width: 1200px;
   margin: 0 auto;
 }
  .r-right-img{
    position: relative;
    left: -38px;
  }
 
  
  .inner{
    height: 80vh;
    display:flex;
    flex-direction:row;
    align-items:center;
    margin: 0 auto;
    width: 700px;
  }
  .r-banner-text{
    height:auto;
    width:auto;
  }
  .b-right{
    height: 80vh;
    display:flex;
    flex-direction:row;
    align-items:center;
    margin: 0 auto;
  }
  .r-banner-text h1{
      font-size: var( --fontHead);
      font-family: var( --fontStyle1);
  }
  .r-banner-text span{
      color: var( --secondColor);
  }
  .r-banner-text p{
      font-size: var( --fontSize2);
      font-weight: var( --fontNormal);
      padding: 0px 75px 0px 0px;    
  }
  .down-arow{
    position: absolute;
    bottom: 54px;
    margin-left: 15px;
  }
  .down-arow img{
     cursor: pointer;
  }

  .roro-serving{
      padding: 90px 0px;
      position: relative;
  }
  
  .roro-serving-head h4{
      font-family: var( --fontStyle5);
      font-size: var( --fontSize2);
      font-weight: var( --fontMedium);
      color: var( --fontColor);
      margin-bottom: 20px;
  }
  .r-p-head{
    margin-top: 18px;
  }
  .underline{
      width: 75px;
      margin-bottom: 52px;
  }
  .r-dot{
    background-color: var( --secondColor);
    height: 6px;
    width: 6px;
    position: relative;
    right: -4px;
    top: 17px;
  }
  .r-brand-services ul{
      list-style: none;
      padding-left: 0rem;
  }
  .r-brand-services li{
      font-family: var( --fontStyle3);
      font-size: var( --fontSize1);
      font-weight: 500;
      margin-bottom: 24px;
  }
  .r-serving-img{
    text-align: center;
    position: relative;
    top: 100px;
  }
  .r-s-img{
    position: absolute;
    left: 48px;
    top: -3rem;
    width: 92%;
  }
  .r-process{
    margin-top: 30px;
  }
  .r-process img{
    position: relative;
    top: 4px;
    right: 2px;
  }
.r-recent-box p{
  font-family: var( --fontStyle3);
  font-size: var( --fontSize1);
  /* padding-right: 70px; */
  line-height: 60px;
  font-weight: 500;
  color: #fff;
  width: 524px;
  height: 360px;
}
.r-recent-box a{
  text-decoration: underline;
  color: var( --fontColor);
}
.roro-recent-work{
  padding: 142px 0px;
  position: relative;
}
.r-progolf-img{
  position: relative;
  left: 20px;
  top: -19px;
}
.pro-golf{
  position: absolute;
  left: 4.5rem;
  top: 2rem;
}
.pro-golf-1{
  position: relative;
  top: 11rem;
  left: -3rem;
}
.roro-airborn{
  padding: 78px 0px;
  position: relative;
}
.r-airborn-img{
  position: absolute; 
  right: 0;
  width: 1007px;
  height: 580px;
}
.r-airburn-full{
  display: none;
  position: absolute;
}
.side-spc{
  height: 77px;
}
.air-spc{
  height: 20px;
}
.r-recent-box a{
  font-size: 18px;
    margin-left: 2px;
    font-family: var( --fontStyle2);
    font-weight: 300;
}
.roro-grinbid{
  padding: 128px 0px 0px;
  position: relative;
}
.grinbid-logo{
  width: 64px;
}
.r-d-link{
  font-style: italic;
}
.roro-bradcrumbs{
  padding: 172px 0px 0px;
  position: relative;
}
.r-airborn-img img{
  position: relative;
  top: -55px;
  float:right
}
.airborn-img{
  top: 8px!important;
}
.roro-yura{
  padding: 226px 0px 0px;
  position: relative;
}
.yura-img{
  top: 16px!important;
}
.roro-spyder{
  padding: 254px 0px 0px;
  position: relative;
}
.pro-spyder-1{
  position: relative;
    top: 8rem;
    left: -3rem;
}
.pro-spyder{
  position: absolute;
  left: 4rem;
  top: -0.8rem;
}
.r-mb-6{
  margin-bottom: 5rem;
}
.mb-6{
  height: 8rem;
}
.roro-team-box{
  padding: 87px 0px;
}
.team-member{
  margin-bottom: 1rem!important;
  
}
.team-member img{
  filter: gray;
  -webkit-filter: grayscale(1);
  -webkit-transition: all .5s ease-in-out; 
}
.team-member img:hover{
  filter: none;
  -webkit-filter: grayscale(0);
}
.r-member-name {
  display: flex;
  flex-direction: row;
}
.r-member-name p{
  font-family: var( --fontStyle3);
  font-weight: 500;
  font-size: 20px;
  color: #fff;
  margin-left: 11px;
  position: relative;
  width: 170px;
}
.r-member-name span{
    width: 17px;
    position: relative;
    top: -4px;
    float: right;
}
.member-desig{
  font-family: var( --fontStyle5);
  font-weight: 400;
  font-size: 14px;
  margin-left: 11px;
}
.team-row{
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
  flex-flow: wrap;
  margin-bottom: 6rem;
  padding-left: 10px;
}

.t-s{
  margin: unset!important;
  margin-bottom: 1rem!important;
}
.tech-tool{
  padding: 62px 0px;
  position: relative;
}
.team-member{
  width: 200px;
  margin: 0px 128px 0px 0px;
}
.tool-s{
  margin: unset!important;
  margin-top: -10px!important;
}
.tool-row{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
  margin-bottom: 6rem;
  width: 1300px;
}
.tools-box{
  width: 175.7px;
  /* margin: -12px 145px 0px 0px; */
}
.tools-box img{
  width: 52px;
  height: 52px;
  filter: gray;
  -webkit-filter: grayscale(1);
  -webkit-transition: all .5s ease-in-out; 
}
.tools-box img:hover{
  filter: none;
  -webkit-filter: grayscale(0);
}
.getintouch-box{
  margin-top: -21px;
}
.g-bt{
  margin-bottom: 43px;
}
a.disable-link{
  font-family: var( --fontStyle4)!important;
  color: #BFC5D2!important;
  font-size: 18px!important;
  font-weight: 300!important;
  pointer-events: none;
  cursor: default;
  text-decoration: none;
}
.figma-set, .html-img{
  width: 40px!important;
}
.ios-img{
  height: 40px!important;
  width: 60px!important;
}
.node-img{
  width: 65px!important;
}
.css-img{
  width: 40px!important;
  height: 60px!important;
  margin-top: 10px;
}
/*-- ==== Form ==== --*/
.get-touch-form .group {
  position: relative;
}
.group {
  margin-bottom: 24px;
}
.get-touch-form .group input {
  width: 520px;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.get-touch-form .group textarea {
  width: 520px;
  padding: 0px 0;
  font-size: 20px;
  height: 43px;
  color: #fff;
  margin-bottom: 25px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
/* textarea {
  overflow-y: scroll;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
} */
.get-touch-form .group label {
  position: absolute;
  top:0;
  left: 0;
  font-size: 20px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}
.group textarea:focus ~ label,
.group textarea:valid ~ label{
  top: -20px;
  left: 0;
  color: #fff;
  font-size: 12px;
}

.get-touch-form .group input:focus ~ label,
.get-touch-form .group input:valid ~ label {
  top: -20px;
  left: 0;
  color: #fff;
  font-size: 12px;
}
.form-bottom{
  margin-bottom: 115px;
}
.error {
  position: absolute;
  bottom: -10px;
  display: none;
  font-size: 1.2rem;
  font-weight: normal;
  color: red;
}
.bar {
  position: relative;
  display: block;
  width: 100%;
}
.bar:before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  content: "";
  transition: 300ms ease all;
  background: #000;
}
.get-touch-form .success-message {
  display: none;
  float: left;
  padding: 12px 0;
  margin-top: 20px;
  font-size: 1.4rem;
}
.get-touch-form form button {
  position: relative;
  float: right;
  width: 236px;
  height: 48px;
  margin-top: 1%;
  font-size: 20px;
  font-weight: normal;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  text-transform: uppercase;
  opacity: .8;
  color: #fff;
  border-radius: 0;
  outline: none;
  border: 1px solid #171717;
  background-color: #171717;
}
.get-touch-form form button .showbox {
  float: right;
  width: 178px;
  height: 44px;
}
svg:not(:root) {
  overflow: hidden;
}

.circular {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  transform-origin: center center;
  -webkit-animation: rotate 2s linear infinite;
  animation: rotate 2s linear infinite;
}
.path {
  -webkit-animation: dash 1.5s ease-in-out infinite;
  animation: dash 1.5s ease-in-out infinite;
  stroke: #000;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
}

.showbox {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  float: right;
  width: 60px;
  width: 178px;
  height: 60px;
  height: 44px;
  background: #f8f8f8;
}
.map {
  width: 416px;
  text-align: end;
  float: right;
  position: relative;
  top: -67px;
  left: -21px;
}
.box {
  width: 416px;
  height: 416px;
  background: url("../img/project/map-bnw.png") no-repeat;
  display: inline-block;
  position: relative;
  cursor: pointer;
  margin-top: -30px;
}
.box:hover {
  background: url("../img/project/map-color.png") no-repeat;
}
.pin{
position: absolute;
left: 41%;
top: 42%;
width: 60px;
height: 65px;
}
.pin img{
width: 70%;
}
.address-box p{
font-family: var( --fontStyle1);
font-weight: 700;
font-size: 16px;
color: #fff;
position: relative;
left: -34px;
margin-bottom: 12px;
}
.address-box p span{
font-family: var( --fontStyle5);
font-size: 13px;
font-weight: 400;
color: #B3B3B3;
margin-left: 14px;
}
.address-box p a{
color: #B3B3B3;
}
.f-space{
  margin-bottom: 159px;
}
footer {
  display: flex;
  display: -webkit-flex;
  width: 100%;
  height: 74px;
  padding: 12px 45px;
  background-color: #000;
  -webkit-align-items: center;
  align-items: center;
  -webkit-align-self: flex-end;
  align-self: flex-end;
  flex-wrap: wrap;
}
.copyrights {
  font-size: 12px;
  font-weight: 300;
  color: #B3B3B3;
  flex: 1;
  font-family: var( --fontStyle2);
}
.icon-ract {
  flex: 1;
}
.icon-ract .ract {
  width: 35px;
  height: 35px;
  margin-bottom: -1px;
  margin-left: -28px;
}
footer .icon-ract .ract .ract_white {
  float: left;
  width: 16px;
  height: 16px;
  margin-bottom: 1px;
  background-color: #fff;
}
footer .icon-ract .ract .ract_white:nth-child(2n + 1) {
  margin-right: 1px;
}
.ract_white:last-child {
  -webkit-animation: flickerAnimation 1.5s infinite;
  -moz-animation: flickerAnimation 1.5s infinite;
  -o-animation: flickerAnimation 1.5s infinite;
   animation: flickerAnimation 1.5s infinite;
}

@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
/*-- === Space === --*/
.r-mb-3{
  margin-bottom: 20px;
}
.r-mb-5{
  margin-bottom: 3.8rem;
}
.r-mb-7{
  margin-bottom: 52px;
}
  /*-- ==== Set screen of above 1200px ==== --*/
  @media screen and (min-width: 1846px){
    .r-airburn-full{
      display: block;
    }
    .r-airborn-img{
     display: none;
    }
    .inner{
     height: 90vh;
      }
  }
  @media screen and (min-width:1580px) {
    /* .r-banner-text{
      padding: 256px 0 0;
    } */
    .r-banner {
      position: relative;
      top: 50px;
  } 
  }
  @media screen and (max-width: 1390px){
    .pro-golf{
      left: 4rem;
    }
  }
  @media screen and (max-width: 1185px){
    .pro-golf{
      left: 1rem;
      top: 7rem;
    }
    .pro-golf-1{  
      top: 15rem;
    }
  }
  @media screen and (min-width: 1178px) {
   
  }
 
  